/* 此处开始是自定义的一些css*/
 .footer-center{
            left:50%;
            margin-left: -200px;
 }
 /* 用来设置页脚居中，已经响应式居中*/
@media only screen and (max-width:640px) {
        .footer-center{
            margin: 0 auto;
            left:0;
    }
}

/*设置图片的链接页面在手机端隐藏。*/
.hide-element{
}

@media only screen and (max-width:640px) {
     .hide-element{
    display: none;
    }
}

/*设置内容left*/

.text-left{
    text-align: left;
}

/*设置内容居中*/
.img-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-title img {
  width: 95%;
}
