{% extends "origin.html" %}


{% block content %}
<hr>
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="/index/">首页</a></li>
      <li class="am-active"><a href="/article/">随笔</a></li>
      <li><a href="/dream/">梦境</a></li>
      <li><a href="/tojun/">与君说</a></li>
    </ul>
    <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>
  </div>
</nav>
<hr>
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
      <article class="am-article blog-article-p">
        <div class="am-article-hd">
          <h1 class="am-article-title blog-text-center">{{ article.title }}</h1>
          <p class="am-article-meta blog-text-center">
              <span><a href="#" class="blog-color">article &nbsp;</a></span>-
              <span><a href="#">@{{ author.name }} &nbsp;</a></span>-
              <span><a href="#">{{ article.create_datatime }}</a></span>
          </p>
        </div>
        <div class="am-article-bd">
        <div class="img-center">
             <img src="{{ article.pic_link }}" alt="" class="blog-entry-img blog-article-margin">
         </div>
        <p class="am-article-lead">
         <h5>{{ article.title }}</h5>
            <br>by{{ author.name }} <br><br>
        <p align="left">{{ content|safe}}</p>
        </div>
      </article>
      
{#        <div class="am-g blog-article-widget blog-article-margin">#}
{#          <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">#}
{#            <hr>#}
{#            <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>#}
{#            <a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>#}
{#            <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>#}
{#          </div>#}
{#        </div>#}

        <hr>
        <div class="am-g blog-author blog-article-margin">
          <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
            <img src="{{ profile.photo }}" alt="" class="blog-author-img am-circle">
          </div>
          <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
          <h3><span>作者 &nbsp;: &nbsp;</span><span class="blog-color">{{ author.name }}</span></h3>
            <p>have courage, and be kind.</p>
          </div>
        </div>
      
        {#        <hr>#}
{#        <ul class="am-pagination blog-article-margin">#}
{#          <li class="am-pagination-prev"><a href="#" class="">&laquo; 上一篇</a></li>#}
{#          <li class="am-pagination-next"><a href="">下一篇 &raquo;</a></li>#}
{#        </ul>#}

        <hr>
        {% for c in comment %}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span> @{{ c.name}} &nbsp;</span>
                <span>{{ c.create_time }}</span>
                <p align="left">{{ c.content}}</p>
            </div>
        </article>
        {% endfor %}

        <form class="am-form am-g" method="post">
            <h3 class="blog-comment">评论</h3>
          <fieldset>
              <input type="text" value="{{ article.id }}" name='aid_id' style="display: none"/>
              {% csrf_token %}
            <div class="am-form-group am-u-sm-4 blog-clear-left">
              <input type="text" class="" placeholder="名字" name="name">{{ obj.errors.name.0 }}
            </div>

            <div class="am-form-group am-u-sm-4 blog-clear-right">
              <input type="text" class="" placeholder="邮箱或QQ等联系方式" name="contact">{{ obj.errors.contact.0 }}
            </div>

            <div class="am-form-group">
              <textarea class="" rows="5" placeholder="请输入评论..." name="content"></textarea>{{ obj.errors.content.0 }}
            </div>

            <p><button type="submit" class="am-btn am-btn-default">发表评论</button></p>
          </fieldset>
        </form>

        <hr>
    </div>
</div>

{% endblock %}
